body {
  background-color: bisque;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 60px;
}

a {
  margin: 20px;
  font-size: 20px;
  color: black;
}

.email-link {
  font-size: 24px;
  color: blue;
  margin: 0 auto;
}
